<!DOCTYPE HTML>
<html>
<head>
    <title>바람 목록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <a href="/" role="button" class="btn btn-info">홈으로 이동</a>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>내용</th>
            <th>생성일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#wind}}
            <tr>
                <td>{{id}}</td>
                <td>{{wind}}</td>
                <td>{{createDate}}</td>
            </tr>
        {{/wind}}
        </tbody>
    </table>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>